# Spring profile
SPRING_PROFILES_ACTIVE=prod

# Azure SQL Database
SPRING_DATASOURCE_URL=jdbc:sqlserver://<YOUR_SQL_SERVER>.database.windows.net:1433;databaseName=<YOUR_DATABASE>;encrypt=true;trustServerCertificate=false;loginTimeout=30;
SPRING_DATASOURCE_USERNAME=<YOUR_SQL_USERNAME>
SPRING_DATASOURCE_PASSWORD=<YOUR_SQL_PASSWORD>

# Admitionum administrator
ADMIN_USERNAME=<YOUR_ADMIN_USERNAME>
ADMIN_PASSWORD=<YOUR_ADMIN_PASSWORD>